.grid-container {
	.grid-row {
		width: calc(100% + 2.2rem);
		margin: 0 -1.1rem;
		display: flex;
		flex-flow: row wrap;
	}

	.grid-col {
		width: 8.333333333333333%;
		padding: 1.1rem;

		&.x2 {
			width: 16.66666666666667%;
		}

		&.x3 {
			width: 25%;
		}

		&.x4 {
			width: 33.33333333333333%;
		}

		&.x5 {
			width: 41.66666666666667%;
		}

		&.x6 {
			width: 50%;
		}

		&.x7 {
			width: 58.33333333333333%;
		}

		&.x8 {
			width: 66.66666666666667%;
		}

		&.x9 {
			width: 75%;
		}

		&.x10 {
			width: 83.33333333333333%;
		}

		&.x11 {
			width: 91.66666666666667%;
		}

		&.x12 {
			width: 100%;
		}

		@include media {
			&.m-x2 {
				width: 16.66666666666667%;
			}

			&.m-x3 {
				width: 25%;
			}

			&.m-x4 {
				width: 33.33333333333333%;
			}

			&.m-x5 {
				width: 41.66666666666667%;
			}

			&.m-x6 {
				width: 50%;
			}

			&.m-x7 {
				width: 58.33333333333333%;
			}

			&.m-x8 {
				width: 66.66666666666667%;
			}

			&.m-x9 {
				width: 75%;
			}

			&.m-x10 {
				width: 83.33333333333333%;
			}

			&.m-x11 {
				width: 91.66666666666667%;
			}

			&.m-x12 {
				width: 100%;
			}
		}
	}
}