.wysiwyg {
	@include font-regular;
	color: rgba($color-text, 0.7);
	line-height: 1.2em;
	h1, h2, h3, h4, h5, h6 {
		color: $color-text;
		@include font-medium;
		margin-top: 3em;
		margin-bottom: .5em;

		+ * {
			margin-top: 0em;
		}
	}

	strong, b {
		color: $color-text;
	}

	ul {
		list-style: disc inside;

		li {
			+ li {
				margin-top: .5em;
			}
		}
	}

	blockquote {
		font-family: inherit;
		color: $color-text;
		font-size: 1.45em;
		line-height: 1.44em;
		position: relative;

		&:before, &:after {
			position: absolute;
			color: $color-black;
			font-size: 6em;
			opacity: .05;
		}

		&:before {
			content: '“';
			top: .25em;
			right: calc(100% + .1em);
		}

		&:after {
			content: '“';
			bottom: .25em;
			left: calc(100% + 0em);
			transform: rotate(180deg);
		}
	}

	> * {
		margin: 2em 0 1em;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}