.btn {
	border-radius: $radius-general;
	display: inline-block;
	background-color: $color-primary;
	color: $color-text-negative;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 1.3rem 1rem;
	text-align: center;
	border: .1rem solid $color-primary;
	transition: background-color $transition-hover ease, color $transition-hover ease, border-color $transition-hover ease;

	&:hover, &:active{
		background-color: darken($color-primary, 10);
		border-color: darken($color-primary, 10);
	}

	&.hollow {
		background-color: transparent;
		color: $color-primary;

		&:hover, &:active {
			background-color: darken($color-primary, 10);
			color: $color-text-negative;
		}
	}

	// Colors
	&.white {
		background-color: $color-white;
		color: $color-primary;
		border-color: $color-white;

		&:hover, &:active {
			background-color: darken($color-white, 10);
			border-color: darken($color-white, 10);
		}

		&.hollow {
			background-color: transparent;
			color: $color-text;
		}
	}

	// Sizes & Shapes
	&.block {
		width: 100%;
		display: block;
	}

	&.uppercase {
		text-transform: uppercase;
	}

	&.big {
		font-size: 1.4rem;
	}

	&.wide {
		padding-left: 2.4rem;
		padding-right: 2.4rem;
	}

	&.low {
		padding-top: .7rem;
		padding-bottom: .8rem;	
	}

	// Inner Elements
	i {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.8rem;
		margin: -.3em 0 -.1em;

		&.pre {
			margin-right: 1rem;
		}

		&.post {
			margin-left: 1rem;
		}
	}
}