.section {
	&.account-nav {
		border-bottom: .1rem solid $color-gray-light;
		text-align: center;
		padding: 1.9rem 0;
		margin-bottom: 3.4rem;

		.nav-item {
			 @include font-medium;
			 position: relative;
			 display: inline-block;
			 font-size: 1.4rem;
			 line-height: 2.4rem;
			 padding-bottom: 1rem;
			 transition:  color $transition-hover ease;
			 text-transform: uppercase;

			 &:before {
			 	@extend %pseudo;
			 	position: absolute;
			 	height: .4rem;
			 	left: 0;
			 	bottom: 0;
			 	width: 100%;
			 	background: $color-primary;
			 	transform: scaleX(0);
			 	opacity: 0;
			 	transition: opacity $transition-hover ease, transform $transition-hover ease;
			 }

			 + .nav-item {
			 	margin-left: 4.7rem;
			 }

			 &.active {
			 	color: $color-primary;
			 	&:before {
			 		transform: scaleX(1);
			 		opacity: 1;
			 	}
			 }

			 &:hover {
		 		color: $color-primary;
			 	&:before {
			 		transform: scaleX(.5);
			 		opacity: .9;
			 	}
			 }
		}
	}

	&.account-wrap {
		padding: 0 0 3.4rem;
	}

	&.account-profile {

		.profile-wrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.profile-sum {
			width: 27rem;
			text-align: center;
			border-radius: $radius-big;
			border: .1rem solid $color-gray-light;
			padding: 2rem 1rem 0;
		}

			.sum-image {
				width: 12rem;
				height: 12rem;
				border-radius: 50%;
				margin: 0 auto;
			}

			.sum-name {
				@include font-medium;
				font-size: 1.8rem;
				line-height: 2.2rem;
				margin-top: .9rem;
			}

			.sum-location {
				font-size: 1.4rem;
				color: $color-text-light;
				margin-top: .7rem;
				line-height: 1.8rem;

				i {
					margin-right: .2rem;
				}
			}

			.sum-completion {
				border-top: .1rem solid $color-gray-light;
				padding: 3rem 0 3rem;
				margin-top: 2.6rem;
			}

				.completion-bar {
					height: 1rem;
					border-radius: .5rem;
					background-color: $color-gray-light;
					overflow: hidden;
				}

					.bar-progress {
						background-color: $color-primary;
						width: 10%;
						height: 100%;
						transform-origin: 0 50%;
						border-radius: .5rem;
						transition: width $transition-anim ease;
					}

				.completion-status {
					@include font-regular;
					margin-top: 2rem;
					font-size: 1.4rem;
					color: rgba($color-text, .6);

					span {
						color: rgba($color-primary, .6);
					}
				}

		.profile-form {
			width: calc(100% - 30rem);
		}

			.form-title {
				@include font-regular;
				font-size: 2.4rem;
				line-height: 3rem;
				padding-bottom: 2rem;
				border-bottom: .1rem solid $color-gray-light;
				margin-bottom: 2rem;
			}

			.form-group {
				+ .form-group {
					margin-top: 4rem;
				}
			}

			.form-submit {
				margin-top: 3.4rem;
			}

			.form-inputwrap {
				width: 44rem;

				+ .form-inputwrap {
					margin-top: 2.6rem;
				}

				@for $i from 1 through 10 {
					&:nth-last-child(#{$i}) {
						z-index: $i;
					}
				}
			}

		.form-delete {
			@include font-regular;
			margin-top: 6rem;
			color: $color-text-light;
			font-size: 1.4rem;
			text-decoration: underline;
			line-height: 1.7rem;
		}
	}

	&.account-notifications {
		.notifications-group {
			+ .notifications-group {
				margin-top: 2rem;
			}
		}

			.group-title {
				@include font-medium;
				font-size: 2.4rem;
				line-height: 2.8rem;
				padding-bottom: 1.6rem;
				border-bottom: .1rem solid $color-gray-light;
			}

			.group-items {

			}

				.items-notification {
					@include font-regular;
					font-size: 1.5rem;
					line-height: 2.1rem;
					padding: 1.5rem 2rem;
					border-bottom: .1rem solid $color-gray-light;
					display: flex;
					align-items: center;
					flex-direction: row;
					flex-wrap: wrap;

					&.unread {
						background-color: rgba($color-gray-light, .6);
					}
				}

					.notification-link {
						@include font-medium;
						color: $color-primary;
					}

					.notification-image {
						width: 5rem;
						height: 5rem;
						border-radius: 50%;
						border: .1rem solid $color-gray-light;
						margin-right: 1.7rem;
					}

					.notification-datetime {
						@include font-regular;
						color: rgba($color-text, .5);
						margin-top: .1rem;
						font-size: 1.3rem;
					}
	}

	&.account-favorites {
		.favorites-list {
			width: calc(100% + 3rem);
			margin: -2rem -1.5rem 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

			.list-item {
				padding: 2rem 1.5rem 0;
				width: 25%;
			}
	}

	&.account-messages {
		.messages-list{}

			.list-item {
				+ .list-item {
					margin-top: 2.2rem;
				}
			}

				.item-link {	
					background-color: $color-gray-light;
					padding: 1rem 2rem;
					border-radius: $radius-general;
					box-shadow: 0 .2rem .4rem 0 rgba(25, 42, 70, 0.1);
					display: flex;
					flex-flow: row wrap;
					align-items: center;
				}

				.item-avatar {
					width: 5rem;
					height: 5rem;
					border-radius: 50%;
				}

				.item-senderinfo {
					text-align: center;
					font-size: 1.4rem;
					line-height: 1.8rem;
					position: relative;
					padding: 0 1rem;
					width: 11rem;

					&:after {
						@include pseudo;
						position: absolute;
						right: 0;
						height: 2.2rem;
						width: .1rem;
						top: 50%;
						transform: translate3d(0, -50%, 0);
						background-color: rgba($color-text, .6);
					}
				}

					.senderinfo-title {
						color: $color-primary;
						margin-bottom: .2rem;
					}

					.senderinfo-subtitle {
						color: rgba($color-text, .6);
					}

				.item-title {
					@include font-regular;
					font-size: 1.6rem;
					line-height: 1.9rem;
					margin-left: 2.1rem;
					flex-grow: 2;
				}

				.item-info {
					white-space: nowrap;
				}

					.info-field {
						@include font-regular;
						color: rgba($color-text, .6);
						display: inline-block;
						font-size: 1.4rem;
						padding: 0 2rem;
						border-left: .1rem solid rgba($color-text, .6);
						line-height: 2rem;
						padding-bottom: .2rem;

						strong {
							font-weight: inherit;
							font-size: 1.2rem;
						}

						&:last-child {
							padding-right: 0;
						}

						button {
							transition: color $transition-hover ease;

							&:hover, &:active {
								color: $color-text;
							}
						}
					}
	}

	&.account-message-conversation {
		.conversation-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 2.6rem;
			line-height: 2.2rem;
		}

			.head-back {
				font-size: 2.2rem;
				width: 2.2rem;
			}

			.head-advertid {
				font-size: 1.5rem;
				color: $color-text-light;
			}

		.conversation-dealer {
			background-color: $color-primary;
			color: $color-white;
			display: block;
			padding: 1rem;
			line-height: 5rem;
			margin-bottom: 4.2rem;
		}

			.dealer-avatar {
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				margin-right: 3rem;
			}

			.dealer-title {
				font-size: 1.6rem;
			}

		.conversation-sender {
			@include font-semibold;
			font-size: 1.6rem;
			line-height: 5rem;
			color: $color-primary;
			padding-left: 1rem;
		}

			.sender-avatar {
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				margin-right: 1.1rem;
			}

		.conversation-content {
			padding-left: 6.1rem;
			padding-top: 2.1rem;
		}

		.conversation-title {
			@include font-semibold;
			font-size: 3.2rem;
			color: rgba($color-text, .8);
		}

		.conversation-messages {
		}

			.messages-message {
				padding: 3.2rem 0 2.9rem;
				display: flex;
				flex-flow: row wrap;

				+ .messages-message {
					border-top: .1rem solid $color-ice;
				}
			}

				.message-content {
					flex: 2;
				}

				.message-text {
					@include font-regular;
					font-size: 1.8rem;
					line-height: 1.56em;
				}

				.message-datetime {
					@include font-regular;
					color: $color-text-light;
					font-size: 1.5rem;
					line-height: 1.8rem;
					margin-top: 2rem;

					i {
						display: inline-block;
						vertical-align: middle;
						font-size: 1.8rem;
						margin-top: -.3em;
						margin-right: .4rem;
					}
				}

				.message-profile {
					width: 4.4rem;
				}

					.profile-image {
						width: 2.6rem;
						height: 2.6rem;
						border-radius: 50%;
					}

		.conversation-composeform {
			position: relative;
			margin-top: 3rem;

			.inputwrap textarea {
				padding-left: 4.8rem;
				min-height: 4.6rem;
				height: 4.6rem;
				max-height: 15rem;
			}
		}

			.composeform-avatar {
				position: absolute;
				width: 2.6rem;
				height: 2.6rem;
				border-radius: 50%;
				left: .9rem;
				top: 1.1rem;
				z-index: 3;
			}

			.composeform-submit {
				position: absolute;
				right: .4rem;
				top: .4rem;
				width: 7.6rem;
			}
	}

	&.account-reservations {
		.reservations-list {

		}

			.list-reservation {
				+ .list-reservation { margin-top: 1.5rem; }

				&.expired {
					.reservation-link {
						background-color: transparent;
					}
				}
			}

				.reservation-link {
					border: .1rem solid $color-ice;
					background-color: $color-gray-light;
					border-radius: $radius-general;
					padding: 2.1rem 2.3rem 2.3rem;
					display: flex;
					align-items: center;
				}

				.reservation-image {
					width: 10rem;
					height: auto;
					margin-right: 3.6rem;
				}

				.reservation-content {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex: 1;
				}

					.content-title {
						@include font-regular;
						display: block;
						font-size: 1.8rem;
						line-height: 2.2rem;
					}

					.content-dealer {
						@include font-semibold;
						font-size: 1.2rem;
						line-height: 1.4rem;
						margin-top: .5rem;
						color: rgba($color-text, .5);
					}

					.content-info {
						margin-top: .8rem;
						color: rgba($color-text, .6);
						line-height: 1.4rem;

						div {
							display: inline-block;

							strong {
								font-weight: inherit;
								font-size: 1.2rem;
							}

							+ div {
								border-left: .1rem solid rgba($color-text, .6);
								margin-left: 2rem;
								padding-left: 2rem;
							}
						}
					}

					.content-cancel {
						@include font-medium;
						font-size: 1.4rem;
						color: $color-primary;
						text-decoration: underline;

						&:disabled {
							color: rgba($color-text, .5);
							cursor: default;
						}
					}
	}

	&.account-login {
		border-top: .1rem solid $color-gray-light;
		padding: 6rem 0 6rem;

		@include media {
			padding: 2.3rem 0;
		}

		.login-wrap {
			max-width: 50rem;
			margin: 0 auto;
		}
	}
}