.section{
	&.home-intro {
		position: relative;
		z-index: 2;
		min-height: 20rem;

		.intro-search {
			position: absolute;
			z-index: 2;
			top: 44%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}

	&.home-listing {
		position: relative;
		z-index: 1;
	}
}