.section {
	&.dealer-detail {
		display: flex;

		.detail-info {
			width: 28rem;
		}

			.info-sum {
				background-color: $color-gray-light;
				padding: 2.7rem 2.5rem 1.5rem 3.5rem;
			}

				.sum-title {
					@include font-semibold;
					font-size: 1.8rem;
					text-transform: uppercase;
					text-decoration: underline;
					line-height: 2.2rem;
				}

					.title-badge {
						position: relative;
						width: 2.2rem;
						height: 2.2rem;
						font-size: 2.2rem;
						color: $color-primary;
						display: inline-block;
						vertical-align: middle;
						margin-right: 1rem;
						margin-top: -.2em;
					}

						.badge-icon {
							color: $color-white;
							font-size: 1.2rem;
							position: absolute;
							z-index: 2;
							top: 53%;
							left: 50%;
							transform: translate3d(-50%, -50%, 0);
						}

				.sum-address {
					font-size: 1.4rem;
					line-height: 2rem;
					margin-top: 2.2rem;
				}

					.address-showonmap {
						color: $color-primary;
						text-decoration: underline;
					}

				.sum-workinghours {
					display: block;
					font-size: 1.2rem;
					text-transform: uppercase;
					margin-top: 1.4rem;

					span {
						margin: 0 1rem;
					}

					&.open {
						color: $color-success;
					}
				}

		.detail-right {
			width: calc(100% - 28rem);
		}

		.dealer-listing {
			border-left: .1rem solid $color-gray-light;
		}
	}
}