.swiper-container.slider-component {

	&.slider-scrollbar {
		position: relative;
		.swiper-slide {
			height: auto;
			box-sizing: border-box;
		}

		.swiper-scrollbar {
			background-color: transparent;
			border-radius: $radius-general;
		}

		.swiper-scrollbar-drag {
			background-color: rgba(#8697a8, 0.5);
		}
	}

}