.section{
	&.header {
		padding: 1.7rem 0 2.5rem;
		border-bottom: .1rem solid $color-gray-light;
		position: relative;
		z-index: 20;

		.header-wrap{
			display: flex;
			justify-content: space-between;
		}

		.header-logo {
			display: inline-block;
			height: 3.4rem;

			img {
				height: 100%;
			}
		}

		.header-nav {
			position: relative;
			padding-top: 1.3rem;
			line-height: 2rem;
			height: 2rem;
			color: $color-text;
			font-size: 0;
			padding-right: 11.4rem;
		}

			.nav-link {
				@include font-semibold;
				font-size: 1.4rem;
				text-transform: uppercase;
				transition: color $transition-hover ease;

				&.active, &:hover, &:active {
					color: $color-primary;
				}

				+ .nav-link {
					margin-left: 4rem;
				}
			}

			.nav-menubtn {
				position: absolute;
				height: 7.6rem;
				width: 7.6rem;
				top: -1.7rem;
				right: -2.5rem;
				z-index: 6;
				display: flex;
				align-items: center;
				justify-content: space-around;
				border-left: .1rem solid $color-gray-light;
				transition: border-color $transition-hover ease $transition-anim;

				&.open {
					border-left-color: transparent;
					transition: border-color $transition-hover ease;
					.menubtn-inner span {
						background-color: $color-white;
						//transform-origin: 50% 50%;

						&:nth-of-type(1) {
							transform: translateY(1.7rem);
							opacity: 0;
						}

						&:nth-of-type(2) {
							transform: scaleX(1) rotate(-45deg);
						}

						&:nth-of-type(3) {
							transform: scaleX(1) rotate(45deg);
						}

						&:nth-of-type(4) {
							transform: translateY(-1.7rem) scaleX(0.8727);
							opacity: 0;
						}
					}
				}
			}

				.menubtn-inner {
					width: 2.2rem;
					height: 1.4rem;
					position: relative;

					span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						display: block;
						background-color: $color-text;
						height: .2rem;
						border-radius: .1rem;
						transform-origin: 50% 50%;
						transition: background-color $transition-hover ease;
						transition: transform $transition-hover ease, opacity $transition-hover ease, background-color $transition-hover ease $transition-hover;

						&:nth-of-type(2), &:nth-of-type(3){
							top: .6rem;
							transform: scaleX(0.818181) translateX(8.1%);
						}

						&:nth-of-type(4){
							top: 1.2rem;
							transform: scaleX(0.636363) translateX(25.3%)
						}
					}
				}

			.nav-menu {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				background: rgba($color-black, .7);
				opacity: 0;
				transition: opacity $transition-anim-fast ease $transition-anim-fast;

				&.show {
					opacity: 1;
					transition: opacity $transition-anim-fast ease;

					.menu-content {
						opacity: 1;
						transform: translate3d(0, 0, 0);
						transition: transform $transition-anim-fast ease ($transition-anim-fast/2), opacity $transition-anim-fast ease ($transition-anim-fast/2);
					}

						.content-innerwrap {
							opacity: 1;
							transform: translate3d(0, 0, 0);
							transition: transform $transition-anim-fast ease ($transition-anim-fast), opacity $transition-anim-fast ease ($transition-anim-fast);
						}
				}
			}

				.menu-content {
					background-color: $color-text;
					color: $color-text-negative;
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 58.4rem;
					opacity: 0;
					padding: 10.1rem 8.1rem 0 6.3rem;
					transform: translate3d(100%, 0, 0);
					transition: transform $transition-anim-fast ease, opacity $transition-anim-fast ease 100ms;
				}

					.content-innerwrap {
						opacity: 0;
						transform: translate3d(20%, 0, 0);
						transition: transform $transition-anim-fast ease, opacity $transition-anim-fast ease 100ms;
					}

				.menu-header {
					display: flex;
					justify-content: space-between;
				}

					.menu-logo {
						height: 2.2rem;
					}

					.menu-social {
						font-size: 0;
						letter-spacing: 0;
						line-height: 0;
						a {
							display: inline-block;
							width: 3rem;
							img {
								width: 100%;
							}

							+ a {
								margin-left: 1rem;
							}
						}
					}

				.menu-items {
					@include font-extralight;
					font-size: 3.2rem;
					margin-top: 5rem;

				}

					.menu-item {
						a {
							display: flex;
							justify-content: space-between;
							height: 8rem;
							align-items: center;
						}

						.item-count {
							font-size: 1.6rem;
							opacity: .2;
						}

						+ .menu-item {
							border-top: .1rem solid rgba($color-text-negative, .2);
						}
					}
	}
}