.section{
	&.footer {
		.footer-bottom {
			background-color: $color-text;
			color: $color-text-negative;
			padding: 5rem 0 7.6rem;
			font-size: 1.4rem;
		}

		.footer-wrap {
			display: flex;
			justify-content: space-between;

			@include media {
				display: block;
			}
		}

		.footer-logo{
			display: inline-block;
			width: 9.4rem;

			img {
				width: 100%;
			}
		}

		.footer-col {
			@include media {
				+ .footer-col {
					margin-top: 2rem;
				}
			}
		}

		.footer-nav {
			width: 55.72%;
			display: flex;
			justify-content: space-between;

			@include media {
				width: auto;
				flex-flow: row wrap;
			}
		}

			.nav-col {
				line-height: 2.43;
			}

			.nav-contact{
				i {
					margin-right: .9rem;
				}

				@include media {
					width: 100%;
					margin-top: 2rem;
					display: flex;
					justify-content: space-between;
				}
			}

				.contact-social {
					margin-top: 1.8rem;

					li {
						display: inline-block;
						width: 3rem;
						height: 3rem;

						+ li {
							margin-left: 1rem;
						}
					}

					@include media {
						margin-top: 0;
					}
				}

			.footer-app {
			}

				.app-title {
					line-height: 3.4rem;
					text-transform: uppercase;
					margin-bottom: .3rem;
				}

				.app-link {
					width: calc(50% - .3rem);

					+ .app-link {
						margin-left: .6rem;
					}
				}

			.footer-subscription {
				margin-top: 2.1rem;
			}

				.subscription-input {
					background: transparent;
					border: .1rem solid $color-text-negative-light;
					color: $color-text-negative;
					border-radius: $radius-general;
					display: block;
					font-size: 1.1rem;
					padding: 1.9rem 1.7rem;
					line-height: 1.3rem;
					width: 100%;

					@include placeholder() {
						color: $color-text-negative-light;
					}
				}

		.footer-copyright {
			margin-top: 8rem;
			font-size: 1.2rem;
			color: $color-text-negative-light;

			@include media {
				margin-top: 4rem;
			}
		}

			.copyright-disclaimer {
				font-size: 1.2rem;
			}

			.copyright-designby {
				a {
					text-decoration: underline;
				}
			}

		.footer-brands {
			background-color: $color-gray-light;
			color: $color-text-light;
			padding: 6rem 0;
			font-size: 1.4rem;
		}

			.brands-list {
				//column-count: 6;
				//column-gap: 4rem;
				display: flex;
				justify-content: space-between;
			}

			.brands-item {
				//width: 16.66666666666667%;
				line-height: 2rem;
				padding: 1rem 0;
			}

				.item-count {
					margin-left: .4rem;
				}
	}
}